body {
	text-rendering:optimizeLegibility;
	padding:0;
	margin:0;
	font-family: 'Verdana', sans-serif;
}
#main {
	margin:0 auto;
	margin-top:100px;
	width:900px;
	height:auto;
}
#navdiv {
	float:left;
	width:300px;
	height:300px;
}
#aboutdiv {
	float:right;
	width:300px;
	height:300px;
}
